@model DoctorDto
@{
}

<div class="row" style="">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Add New Doctor</h2>

        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email Address</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <input  class="form-control" asp-for="phone" />
                    <span asp-validation-for="phone" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Date of Birth</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" asp-for="DateOfBirth" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Gender</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Specialization</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Specialization"/>
                    <span asp-validation-for="Specialization" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Address" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Image</label>
                <div class="col-sm-8">
                    <input type="file" class="form-control" asp-for="ImageFileName" />
                    <span asp-validation-for="ImageFileName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="Details"></textarea>
                    @* <span asp-validation-for="Details" class="text-danger"></span> *@
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">

                        Submit
                    </button>
                </div>

                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-danger" asp-controller="Products" asp-action="Index">
                        <i class="fa-solid fa-ban"></i>
                        Cancel
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>